@page
@model MyFirstRazorPagesApp.Pages.ChampionsModel
@{
}

<h1>Alla Champions</h1>

<!-- Single statement block -->
@{ var myMessage = "Hello World"; }

<!-- Inline expression or variable -->
<p>The value of myMessage is: @myMessage</p>

<!-- Multi-statement block -->
@{
    var greeting = "Welcome to our site!";
    var weekDay = DateTime.Now.DayOfWeek;
    var greetingMessage = greeting + " Today is: " + weekDay;
}
<p>The greeting is: @greetingMessage</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Damage</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var champ in Model.Champions)
        {
            <tr>
                <td>@champ.Id</td>
                <td>@champ.Name</td>
                <td>@champ.Damage</td>
            </tr>
        }
    </tbody>
</table>



